/*
* === UNIVERSAL STYLES ===
*/

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #7f7f7f;
  background: #fafafa;
}

a {
	text-decoration: none;
	color: #7f7f7f;
}

* {
	box-sizing: border-box;
}

/*
* === NAVIGATION STYLES ===
*/

.main-nav li {
	background-color: #fff;
	margin: 10px 0;
	padding: 10px 0;
	font-weight: bold;
}

.main-nav a {
	display: block;
}

.main-nav a:hover {
	color: #000;
}

/*
* === LAYOUT STYLES ===
*/

.main-nav,
.section,
#contact,
footer {
	width: 90%;
	margin: 0 auto;
}

.main-container {
	background-color: #fff;
	padding: 5px 0;
}

.section img{
	width: 100%;
}

.bio {
	width: 90%;
	margin: 1em auto 0;
}

.bio img {
	border-radius: 100%;
	width: 40%;
	margin: 10% 0;
}

.bio-img-bg {
	background: #ededed;
	width: 80%;
	margin: 0 auto;
}

.footer-name {
	float: left;
}

.footer-toplink {
	float: right;
}

/*
* === MISC STYLES ===
*/

.main-nav ul,
#contact ul
 {
	padding: 0;
	list-style: none;
}