/*
* === UNIVERSAL STYLES ===
*/

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #7f7f7f;
  background: #fafafa;
}

a {
	text-decoration: none;
	color: #7f7f7f;
}

* {
	box-sizing: border-box;
}

/*
* === NAVIGATION STYLES ===
*/

.main-nav li {
	background-color: #fff;
	margin: 10px 0;
	padding: 10px 0;
	font-weight: bold;
}

.main-nav a {
	display: block;
}

.main-nav a:hover {
	color: #000;
}

/*
* === LAYOUT STYLES ===
*/

.main-nav,
#contact,
footer {
	width: 90%;
	margin: 0 auto;
}

.main-container {
	background-color: #fff;
	padding: 5px 5%;
}

.section img{
	width: 100%;
}

.bio {
	width: 90%;
	margin: 1em auto 0;
}

.bio img {
	border-radius: 100%;
	width: 40%;
	margin: 60px 0;
}

.bio-img {
	background: #ededed;
	width: 80%;
	margin: 0 auto;
}

#portfolio {
	display: block;
	width: 100%;
}

.footer-name {
	float: left;
}

.footer-toplink {
	float: right;
}

/*
* === MISC STYLES ===
*/

.main-nav ul,
#contact ul
 {
	padding: 0;
	list-style: none;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/*
* === MEDIA QUERIES ===
*/

@media (min-width: 600px) {

	.main-container {
		background-color: #fff;
		padding: 5px 2.5%;
	}

  	.section {
    	width: 45%;
    	margin: 0 2.5%;
    	float: left;
	}

	.bio-img,
	.bio-text {
		/* 2 columns 5% margin (2.5% both sides) = 45% widht each */
		width: 45%;
		float: right;
		margin: 0 2.5%;
	}

	.bio-img {
		margin-top: 1em;
	}

	.bio {
		width: 100%;
		padding: 0 2.5%;
		margin-bottom: 2em;
	}
	
}

@media (min-width: 1200px) {

	.section {
		/* 2 columns 5% margin (2.5% both sides) = 28.33333333% widht each */
    	width: 28.33333333%;
    	margin: 0 2.5%;
    	float: left;
	}

}