body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #fafafa;
}

.main-nav {
	border-style: solid 1px red;
	width: 90%;
	margin: 0 auto;
}

.main-nav ul {
	padding: 0;
	list-style: none;
}

.main-nav li {
	background-color: #fff;
	margin: 10px 0;
	padding: 10px 0;
	font-weight: bold;
}

.main-nav a {
	display: block;
	text-decoration: none;
	color: #000;
}

.section {
	width: 90%;
	margin: 0 auto;
	/*background: #fff;*/
}

.section img{
	width: 100%;
}

.main-container {
	background-color: #fff;
	padding: 5px 0;
}

.portfolio {
	width: 90%;
	margin: 1em auto 0;
}

.porfolio-img-bg {
	background: #ededed;
	width: 80%;
	margin: 0 auto;
}

.portfolio img {
	border-radius: 100%;
	width: 40%;
	margin: 10% 0;
}

.contact {
	width: 90%;
	margin: 0 auto;
}

.contact ul {
	list-style: none;
	padding: 0;
}

footer {
	width: 90%;
	margin: 0 auto;
}

.footer-name {
	float: left;
}

.footer-toplink {
	float: right;
}

.footer-toplink a {
	text-decoration: none;
	color: #000;
}